<h1><%= @course.title %></h1>

<p><%= @course.description %></p>

<ul>
  <li><%= link_to "Edit", edit_course_path(@course) %></li>
  <li><%= link_to "Destroy", course_path(@course), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Reviews</h2>
<% @course.reviews.each do |review| %>
  <p>
    <strong>Author:</strong>
    <%= review.commenter %>
  </p>
  <p>
    <strong>Review:</strong>
    <%= review.body %>
  </p>
<% end %>

<h2>Add a review:</h2>
<%= form_with model: [ @course, @course.reviews.build ] do |form| %>
  <p>
    <%= form.label :commenter %>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>