<h1><%= @course.title %></h1>
<% if @course.archived? %>
<p>Archived</p>
<% end %>

<p><%= @course.description %></p>

<ul>
  <li><%= link_to "Edit", edit_course_path(@course) %></li>
  <li><%= link_to "Destroy", course_path(@course), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Reviews</h2>

<div class="mx-auto max-w-md overflow-hidden rounded-lg bg-white shadow">
  <ul class="divide-y divide-gray-100 py-2 px-4">
    <%= render @course.reviews %>
  </ul>
</div>

<h2>Add a review:</h2>
<%= render 'reviews/form' %>